In [3]:
import pandas as pd
df=pd.read_csv(r'C:\Users\umama\Downloads\movie_data\movies.csv')

In [25]:
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
df.shape

(9742, 3)

In [6]:
dfr=pd.read_csv(r'C:\Users\umama\Downloads\movie_data\ratings.csv')

In [7]:
dfr.shape

(100836, 4)

In [8]:
dfr

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [31]:
v=dfr['movieId'].unique()

In [32]:
len(v)

9724

In [16]:
va=dfr['userId'].unique()

In [21]:
len(va)

610

In [34]:
(df.loc[df['title'] == 'Matrix, The (1999)'])

      movieId               title                  genres
1939     2571  Matrix, The (1999)  Action|Sci-Fi|Thriller

In [44]:
(df.loc[df['title'] == 'Terminator 2: Judgment Day (1991)'])

     movieId                              title         genres
507      589  Terminator 2: Judgment Day (1991)  Action|Sci-Fi

In [35]:
dft=pd.read_csv(r'C:\Users\umama\Downloads\movie_data\tags.csv')

In [36]:
dft

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [43]:
(dft.loc[df['movieId'] == '2571'])

Empty DataFrame
Columns: [userId, movieId, tag, timestamp]
Index: []

In [93]:



dfr_g= dfr.groupby("movieId")["rating"].agg(["count", "mean"])
movies_ratings = pd.merge(df, dfr_g, on="movieId", how="inner")

movies_ratings_filtered = movies_ratings[movies_ratings["count"] > 50]
movies_ratings_filtered

,movieId,title,genres,count,mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185
...,...,...,...,...,...
8287,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667
8354,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

In [63]:
movies_ratings_filtered['mean'].max()

4.429022082018927

In [64]:
movies_ratings_filtered

,movieId,title,genres,count,mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,110,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
5,6,Heat (1995),Action|Crime|Thriller,102,3.946078
6,7,Sabrina (1995),Comedy|Romance,54,3.185185
...,...,...,...,...,...
8287,106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,54,3.916667
8354,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,52,3.778846
8358,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
8457,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,59,4.050847
8673,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi,54,3.833333

In [65]:
md = movies_ratings_filtered.sort_values(ascending=False,by='mean')

In [66]:
md

,movieId,title,genres,count,mean
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022
659,858,"Godfather, The (1972)",Crime|Drama,192,4.289062
2224,2959,Fight Club (1999),Action|Crime|Drama|Thriller,218,4.272936
974,1276,Cool Hand Luke (1967),Drama,57,4.271930
602,750,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,97,4.268041
...,...,...,...,...,...
144,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller,53,2.679245
145,173,Judge Dredd (1995),Action|Crime|Sci-Fi,62,2.669355
376,432,City Slickers II: The Legend of Curly's Gold (...,Adventure|Comedy|Western,55,2.645455
379,435,Coneheads (1993),Comedy|Sci-Fi,63,2.420635
2028,2701,Wild Wild West (1999),Action|Comedy|Sci-Fi|Western,53,2.207547

In [67]:
co= movies_ratings_filtered.sort_values(ascending=False,by='count')

In [74]:
co.head(30)

,movieId,title,genres,count,mean
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134
277,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068
510,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290
1938,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446
224,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251,4.231076
418,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,238,3.750000
97,110,Braveheart (1995),Action|Drama|War,237,4.031646
507,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224,3.970982
461,527,Schindler's List (1993),Drama|War,220,4.225000
2224,2959,Fight Club (1999),Action|Crime|Drama|Thriller,218,4.272936
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
897,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,211,4.215640
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,204,4.237745
2144,2858,American Beauty (1999),Drama|Romance,204,4.056373
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,203,3.975369
615,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,202,3.445545
123,150,Apollo 13 (1995),Adventure|Drama|IMAX,201,3.845771
899,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,200,4.207500
3633,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,198,4.106061
910,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,196,4.137755
659,858,"Godfather, The (1972)",Crime|Drama,192,4.289062
398,457,"Fugitive, The (1993)",Thriller,190,3.992105
509,592,Batman (1989),Action|Crime|Thriller,189,3.428571
4131,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,188,4.021277
1502,2028,Saving Private Ryan (1998),Action|Drama|War,188,4.146277
4791,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,185,4.118919
506,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,183,3.792350
520,608,Fargo (1996),Comedy|Crime|Drama|Thriller,181,4.116022
2077,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,179,3.893855

In [72]:
sc=movies_ratings_filtered.sort_values(by='genres', ascending=False, inplace=False, ignore_index=True)

In [73]:
sc

,movieId,title,genres,count,mean
0,457,"Fugitive, The (1993)",Thriller,190,3.992105
1,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151
2,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,203,3.975369
3,904,Rear Window (1954),Mystery|Thriller,84,4.261905
4,4226,Memento (2000),Mystery|Thriller,159,4.122642
...,...,...,...,...,...
431,2683,Austin Powers: The Spy Who Shagged Me (1999),Action|Adventure|Comedy,121,3.198347
432,2005,"Goonies, The (1985)",Action|Adventure|Children|Comedy|Fantasy,57,3.570175
433,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,125,3.836000
434,1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,200,4.207500
435,1291,Indiana Jones and the Last Crusade (1989),Action|Adventure,140,4.046429

In [77]:
link=pd.read_csv(r'C:\Users\umama\Downloads\movie_data\links.csv')

In [84]:
import requests
import numpy as np
from bs4 import BeautifulSoup

def scrapper(imdbId):
    id = str(int(imdbId))
    n_zeroes = 7 - len(id)
    new_id = "0"*n_zeroes + id
    URL = f"https://www.imdb.com/title/tt{new_id}/"
    request_header = {'Content-Type': 'text/html; charset=UTF-8', 
                      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/119.0', 
                      'Accept-Encoding': 'gzip, deflate, br'}
    response = requests.get(URL, headers=request_header)
    soup = BeautifulSoup(response.text)
    imdb_rating = soup.find('span',{'class' : 'sc-bde20123-1 cMEQkK'})
    return imdb_rating.text if imdb_rating else np.nan

In [85]:
df_merged = pd.merge(co, link, on='movieId', how='inner')

In [86]:
df_merged

,movieId,title,genres,count,mean,imdbId,tmdbId
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134,109830,13.0
1,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022,111161,278.0
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068,110912,680.0
3,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290,102926,274.0
4,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446,133093,603.0
...,...,...,...,...,...,...,...
431,4239,Blow (2001),Crime|Drama,51,3.813725,221027,4133.0
432,4776,Training Day (2001),Crime|Drama|Thriller,51,3.794118,139654,2034.0
433,4848,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller,51,3.843137,166924,1018.0
434,145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller,51,3.245098,112442,9737.0
435,1645,The Devil's Advocate (1997),Drama|Mystery|Thriller,51,3.411765,118971,1813.0

In [87]:
df_merged["rating"] = df_merged["imdbId"].apply(scrapper)

In [88]:
df_merged

,movieId,title,genres,count,mean,imdbId,tmdbId,rating
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134,109830,13.0,8.8
1,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022,111161,278.0,9.3
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068,110912,680.0,8.9
3,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290,102926,274.0,8.6
4,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446,133093,603.0,8.7
...,...,...,...,...,...,...,...,...
431,4239,Blow (2001),Crime|Drama,51,3.813725,221027,4133.0,7.5
432,4776,Training Day (2001),Crime|Drama|Thriller,51,3.794118,139654,2034.0,7.7
433,4848,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller,51,3.843137,166924,1018.0,7.9
434,145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller,51,3.245098,112442,9737.0,6.8
435,1645,The Devil's Advocate (1997),Drama|Mystery|Thriller,51,3.411765,118971,1813.0,7.5

In [89]:
df_merged= df_merged.sort_values(ascending=False,by='rating')

In [91]:
df_merged.head(30)

,movieId,title,genres,count,mean,imdbId,tmdbId,rating
1,318,"Shawshank Redemption, The (1994)",Crime|Drama,317,4.429022,111161,278.0,9.3
21,858,"Godfather, The (1972)",Crime|Drama,192,4.289062,68646,238.0,9.2
372,1203,12 Angry Men (1957),Drama,57,4.149123,50083,389.0,9.0
44,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,149,4.238255,468569,155.0,9.0
72,1221,"Godfather: Part II, The (1974)",Crime|Drama,129,4.259690,71562,240.0,9.0
9,527,Schindler's List (1993),Drama|War,220,4.225000,108052,424.0,9.0
26,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy,185,4.118919,167260,122.0,9.0
2,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,307,4.197068,110912,680.0,8.9
19,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy,198,4.106061,120737,120.0,8.9
0,356,Forrest Gump (1994),Comedy|Drama|Romance|War,329,4.164134,109830,13.0,8.8
51,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,143,4.066434,1375666,27205.0,8.8
245,1201,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,72,4.145833,60196,429.0,8.8
10,2959,Fight Club (1999),Action|Crime|Drama|Thriller,218,4.272936,137523,550.0,8.8
24,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy,188,4.021277,167261,121.0,8.8
75,1213,Goodfellas (1990),Crime|Drama,126,4.250000,99685,769.0,8.7
12,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,211,4.215640,80684,1891.0,8.7
241,109487,Interstellar (2014),Sci-Fi|IMAX,73,3.993151,816692,157336.0,8.7
63,1193,One Flew Over the Cuckoo's Nest (1975),Drama,133,4.203008,73486,510.0,8.7
4,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,278,4.192446,133093,603.0,8.7
176,2324,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War,88,4.147727,118799,637.0,8.6
178,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure|Animation|Fantasy,87,4.155172,245429,129.0,8.6
233,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,75,4.146667,317248,598.0,8.6
25,2028,Saving Private Ryan (1998),Action|Drama|War,188,4.146277,120815,857.0,8.6
101,3147,"Green Mile, The (1999)",Crime|Drama,111,4.148649,120689,497.0,8.6
3,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,279,4.161290,102926,274.0,8.6
5,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,251,4.231076,76759,11.0,8.6
15,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,203,3.975369,114369,807.0,8.6
354,953,It's a Wonderful Life (1946),Children|Drama|Fantasy|Romance,58,4.034483,38650,1585.0,8.6
8,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,224,3.970982,103064,280.0,8.6
35,3578,Gladiator (2000),Action|Adventure|Drama,170,3.938235,172495,98.0,8.5